/* Main */
.main__index {
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    padding-top: 140px;

    h1{
        width: 100%;
        text-align: center;
        font-size: 65px;
        font-weight: bold;
        font-family: $font-h1;
        color: #191919;
        border-bottom:5px double gray;
    }
    .hero{
        @include flex(column,center,center,0);
        padding-top: 10px;
                    
        .pechuga_link{
            @include flex(column,center,center,0);

            .img__pechuga{
                width: 980px;
                object-fit: cover;
                margin-top: 20px;
                border-radius: 8px;
                &:hover{
                    box-shadow: 0 0 10px #cfc4c4ad;
                }
            }
            p{
                padding: 10px;
                text-align: center;
                border: 2px solid #594545;
                color: #594545;
                border-radius: 10px;
                margin-top: 20px;
                font-size: 24px;
                font-weight: bold;
                transition: 0.4s;
                &:hover{
                    box-shadow: 2px 2px 2p0px ;
                    background-color: #cfc4c4ad;
                } 
            }
        }
        .bg{
            display: inline-flex;
            width: 100%;
            background-image: url('../assets/chef.jpg');
            background-position: center;
            background-size: cover;
            background-attachment:local;
            margin-top: 10px;
            padding: 100px;
            object-fit: cover;
        }
    }
    .grid__cards{
        display: grid;
        align-items: center;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 0px 20px;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 25px;
        grid-template-areas:
        "area1 area2 area3"
        "area1 area4 area5";

        .area1{
            @include flex(column,space-between,center,0);
            grid-area: area1;
            height: 100%;
            background-color: #a70101f1;
            border-radius: 10px;
            box-shadow: 0px 3px 3px 0px #0000003f;
            &:hover{
                box-shadow: 0 0 15px #a70101;
            }

            .lomo_link{
                text-align: center;
                padding: 10px;
                color: transparent;

                .grid__cards__lomo{
                    width: 500px;
                    height: 450px;
                    object-fit: cover;
                    object-position: center;
                    box-shadow: 0px 5px 5px 0px #191919;
                    border-radius: 5px;
                }
                h2{
                    margin: 10px;
                    font-size: 24px;
                    color: #FFF2CC;
                    font-family: $font-h2;
                    font-weight: bold;
                }
                p{
                    font-family: $font-link-p;
                    color: $color;
                    padding: 5px;
                    border-radius: 5px;
                    background-color:$background-color-p;
                    font-weight: initial;
                    font-style: italic;
                }
            }
        }
        .area2{
            @include flex(column,space-between,center,0);
            background-color: #a70101f1;
            grid-area: area2;
            height: 100%;
            box-shadow: 0px 3px 3px 0px #0000003f;
            border-radius: 5px;
            &:hover{
                box-shadow: 0 0 10px #a70101;
            }
            .noquis_link{
                margin: 5px;
                border: transparent;
                padding: auto;
                text-align: center;
                padding: 10px;
                color: transparent;

                .grid__cards__noquis{
                    align-self: center;
                    justify-content: center;
                    object-position: center;
                    object-fit: cover;
                    width: 200px;
                    height: 150px;
                    object-fit: cover;
                    box-shadow: 0px 5px 5px 0px #191919;
                    border-radius: 5px;
                }
                h2{
                    margin: 5px;
                    color: #FFF2CC;
                    font-family: $font-h2;
                    font-weight: bold;
                }
                p{
                    font-family: $font-link-p;
                    color: #191919;
                    padding: 5px;
                    border-radius: 5px;
                    background-color: $background-color-p;
                    font-weight: initial;
                    font-style: italic;
                }
            }
        }
        .area3{
            @include flex(column,space-between,center,0);
            background-color: #a70101f1;
            grid-area: area3;
            height: 100%;
            box-shadow: 0px 3px 3px 0px #0000003f;
            border-radius: 5px;
            &:hover{
                box-shadow: 0 0 10px #a70101;
            }
            .sanguche_entraña_link{
                margin: 5px;
                border: transparent;
                padding: auto;
                text-align: center;
                padding: 10px;
                color: transparent;

                .grid__cards__sanguche{
                    align-self: center;
                    justify-content: center;
                    object-position: center;
                    object-fit: cover;
                    width: 200px;
                    height: 150px;
                    object-fit: cover;
                    box-shadow: 0px 5px 5px 0px #191919;
                    border-radius: 5px;
                }
                h2{
                    margin: 5px;
                    color: #FFF2CC;
                    font-family: $font-h2;
                    font-weight: bold;
                }
                p{
                    font-family: $font-link-p;
                    color: #191919;
                    padding: 5px;
                    border-radius: 5px;
                    background-color: $background-color-p;
                    font-weight: initial;
                    font-style: italic;
                }
            }
        }
        .area4{
            @include flex(column,space-between,center,0);
            background-color: #a70101f1;
            grid-area: area4;
            height: 100%;
            box-shadow: 0px 3px 3px 0px #0000003f;
            border-radius: 5px;
            &:hover{
                box-shadow: 0 0 10px #a70101;
            }

            .tita_casera_link{
                margin: 5px;
                border: transparent;
                padding: auto;
                text-decoration: none;
                text-align: center;
                padding: 10px;
                color: transparent;

                .grid__cards__tita_casera{
                    align-self: center;
                    justify-content: center;
                    object-position: center;
                    object-fit: cover;
                    width: 200px;
                    height: 150px;
                    object-fit: cover;
                    box-shadow: 0px 5px 5px 0px #191919;
                    border-radius: 5px;
                }
                h2{
                    margin: 5px;
                    color: #FFF2CC;
                    font-family: $font-h2;
                    font-weight: bold;
                }
                p{
                    font-family: $font-link-p;
                    color: #191919;
                    padding: 5px;
                    border-radius: 5px;
                    background-color: $background-color-p;
                    font-weight: initial;
                    font-style: italic;
                }
            }
        }
        .area5{
            @include flex(column,space-between,center,0);
            background-color: #a70101f1;
            grid-area: area5;
            height: 100%;
            box-shadow: 0px 3px 3px 0px #0000003f;
            border-radius: 5px;
            &:hover{
                box-shadow: 0 0 10px #a70101;
            }
            .empanadas_link{
                margin: 5px;
                border: transparent;
                padding: auto;
                text-decoration: none;
                text-align: center;
                padding: 10px;
                color: transparent;

                .grid__cards__empanadas{
                    align-self: center;
                    justify-content: center;
                    object-position: center;
                    object-fit: cover;
                    width: 200px;
                    height: 150px;
                    object-fit: cover;
                    box-shadow: 0px 5px 5px 0px #191919;
                    border-radius: 5px;
                }
                h2{
                    margin: 5px;
                    color: #FFF2CC;
                    font-family: $font-h2;
                    font-weight: bold;
                }
                p{
                    font-family: $font-link-p;
                    color: #191919;
                    padding: 5px;
                    border-radius: 5px;
                    background-color: $background-color-p;
                    font-weight: initial;
                    font-style: italic;
                }
            
            }
        }
    }
    .formulario{
        display: flex;
        justify-content: center;
        margin: 20px 0px;
        background-color: #DFA67B;
        width: auto;
        padding: 20px 200px;
        border-radius: 5px;

        form {
            h2 {
                font-size: 24px;
                text-align: center;
                background-color: #FFD966;
                font-family: 'Solway', serif;
                font-weight: bold;
            }
            .inputs{
                display: flex;
                justify-content: center;
                margin-top: 10px;

                label{
                    font-size: 24px;
                    font-family: 'Solway', serif;
                    color: #040303;
                    margin-right: 5px;
                    font-style: italic;
                }
                .caja_email{
                    font-size: 24px;
                    font-family: 'Solway', serif;
                    font-weight: bold;
                }
                .sumbit{
                    font-size: 20px;
                    padding: 3px;
                    font-family: 'Solway', serif;
                    font-weight: bold;
                    font-style: italic;
                }
            }  
        }
    }
}