.main__paginas__recomendadas {
    @include flex(column, center, center, 0);
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    padding-top: 140px;

    h1 {
        width: 100%;
        padding-bottom: 5px;
        text-align: center;
        font-size: 65px;
        font-weight: bold;
        font-family: $font-h1;
        color: #191919;
        border-bottom: 5px double gray;
    }

    .hero__paginas__recomendadas {
        display: grid;
        align-items: center;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 0px 20px;
        grid-template-rows: auto;
        row-gap: 7px;
        grid-template-columns: auto;
        grid-template-areas:
            " area1b "
            " area2b "
            " area3b "
            " area4b ";

            .area1b {
                grid-area: area1b;
                @extend .card_paginas_recomendas;
                
                a {
                    @extend .link;
    
                    .div__img__1 {
                        img {
                            @extend .i_m_g;
                        }
                    }
    
                    .div__1 {
                        @extend .div__description;
    
                        h2 {
                            @extend .titulo_card;
                        }
    
                        p {
                            @extend .parrafo_card;
                        }
                    }
                }
            }

        .area2b {
            grid-area: area2b;
            @extend .card_paginas_recomendas;
            
            a {
                @extend .link;

                .div__img__2 {
                    img {
                        @extend .i_m_g;
                    }
                }

                .div__2 {
                    @extend .div__description;

                    h2 {
                        @extend .titulo_card;
                    }

                    p {
                        @extend .parrafo_card;
                    }
                }
            }
        }

        .area3b {
            grid-area: area3b;
            @extend .card_paginas_recomendas;
            
            a {
                @extend .link;

                .div__img__3 {
                    img {
                        @extend .i_m_g;
                    }
                }

                .div__3 {
                    @extend .div__description;

                    h2 {
                        @extend .titulo_card;
                    }

                    p {
                        @extend .parrafo_card;
                    }
                }
            }
        }

        .area4b {
            grid-area: area4b;
            @extend .card_paginas_recomendas;
            
            a {
                @extend .link;

                .div__img__4 {
                    img {
                        @extend .i_m_g;
                    }
                }

                .div__4 {
                    @extend .div__description;

                    h2 {
                        @extend .titulo_card;
                    }

                    p {
                        @extend .parrafo_card;
                    }
                }
            }
        }
    }
}