/* Media queris */
@media only screen and (max-width:1100px) {
    .main__recetas .hero__recetas .area1a .pechuga__link__recetas .div__recetas__pechuga h2 {
        font-size: 30px;
    }

    .main__recetas .hero__recetas .area2a .lomo__link__recetas .div__recetas__lomo h2 {
        font-size: 30px;
    }

    .main__recetas .hero__recetas .area3a .noquis__link__recetas .div__recetas__noquis h2 {
        font-size: 30px;
    }

    .main__recetas .hero__recetas .area4a .sanguche__link__recetas .div__recetas__sanguche h2 {
        font-size: 30px;
    }

    .main__recetas .hero__recetas .area5a .tita__link__recetas .div__recetas__tita h2 {
        font-size: 30px;
    }

    .main__recetas .hero__recetas .area6a .empanadas__link__recetas .div__recetas__empanadas h2 {
        font-size: 30px;
    }

    .main__recetas .hero__recetas .area1a .pechuga__link__recetas .div__recetas__pechuga p {
        font-size: 20px;
    }

    .main__recetas .hero__recetas .area2a .lomo__link__recetas .div__recetas__lomo p {
        font-size: 20px;
    }

    .main__recetas .hero__recetas .area3a .noquis__link__recetas .div__recetas__noquis p {
        font-size: 20px;
    }

    .main__recetas .hero__recetas .area4a .sanguche__link__recetas .div__recetas__sanguche p {
        font-size: 20px;
    }

    .main__recetas .hero__recetas .area5a .tita__link__recetas .div__recetas__tita p {
        font-size: 20px;
    }

    .main__recetas .hero__recetas .area6a .empanadas__link__recetas .div__recetas__empanadas p {
        font-size: 20px;
    }

    .main__recetas .hero__recetas .area1a .pechuga__link__recetas .div__recetas__pechuga p {
        font-size: 20px;
    }

    .main__recetas .hero__recetas .area2a .lomo__link__recetas .div__recetas__lomo p {
        font-size: 20px;
    }

    .main__recetas .hero__recetas .area3a .noquis__link__recetas .div__recetas__noquis p {
        font-size: 20px;
    }

    .main__recetas .hero__recetas .area4a .sanguche__link__recetas .div__recetas__sanguche p {
        font-size: 20px;
    }

    .main__recetas .hero__recetas .area5a .tita__link__recetas .div__recetas__tita p {
        font-size: 20px;
    }

    .main__recetas .hero__recetas .area6a .empanadas__link__recetas .div__recetas__empanadas p {
        font-size: 20px;
    }

    .main__recetas .hero__recetas .area1a .pechuga__link__recetas .div__img__pechuga .recetas__img__pechuga {
        width: 490px;
        height: 334px;
    }

    .main__recetas .hero__recetas .area1a .pechuga__link__recetas .div__img__pechuga .recetas__img__pechuga {
        width: 490px;
        height: 334px;
    }

    .main__recetas .hero__recetas .area2a .lomo__link__recetas .div__img__lomo .recetas__img__lomo {
        width: 490px;
        height: 334px;
    }

    .main__recetas .hero__recetas .area3a .noquis__link__recetas .div__img__noquis .recetas__img__noquis {
        width: 490px;
        height: 334px;
    }

    .main__recetas .hero__recetas .area4a .sanguche__link__recetas .div__img__sanguche .recetas__img__sanguche {
        width: 490px;
        height: 334px;
    }

    .main__recetas .hero__recetas .area5a .tita__link__recetas .div__img__tita .recetas__img__tita {
        width: 490px;
        height: 334px;
    }

    .main__recetas .hero__recetas .area6a .empanadas__link__recetas .div__img__empanadas .recetas__img__empanadas {
        width: 490px;
        height: 334px;
    }
    .parrafo_card{
        font-size: 24px;
    }

}

@media only screen and (max-width:1078px) {
    .main__index .hero .pechuga_link .img__pechuga {
        width: 800px;
    }

    .main__index .grid__cards {
        margin-top: 15px;
        padding: 0px 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 10px;
        grid-template-areas:
            "area1 area1"
            "area2 area3"
            "area4 area5"
    }

    .main__index .hero .bg {
        padding: 95px;
    }

    .main__index .hero .pechuga_link p {
        width: 820px;
    }
    .parrafo_card{
        font-size: 22px;
    }
    .parrafo_card{
        font-size: 22px;
    }

}

@media only screen and (max-width: 1064px) {
    .main__recetas .hero__recetas .area1a .pechuga__link__recetas .div__recetas__pechuga h2 {
        font-size: 28px;
    }

    .main__recetas .hero__recetas .area2a .lomo__link__recetas .div__recetas__lomo h2 {
        font-size: 28px;
    }

    .main__recetas .hero__recetas .area3a .noquis__link__recetas .div__recetas__noquis h2 {
        font-size: 28px;
    }

    .main__recetas .hero__recetas .area4a .sanguche__link__recetas .div__recetas__sanguche h2 {
        font-size: 28px;
    }

    .main__recetas .hero__recetas .area5a .tita__link__recetas .div__recetas__tita h2 {
        font-size: 28px;
    }

    .main__recetas .hero__recetas .area6a .empanadas__link__recetas .div__recetas__empanadas h2 {
        font-size: 28px;
    }

    .main__recetas .hero__recetas .area1a .pechuga__link__recetas .div__recetas__pechuga p {
        font-size: 18px;
    }

    .main__recetas .hero__recetas .area2a .lomo__link__recetas .div__recetas__lomo p {
        font-size: 18px;
    }

    .main__recetas .hero__recetas .area3a .noquis__link__recetas .div__recetas__noquis p {
        font-size: 18px;
    }

    .main__recetas .hero__recetas .area4a .sanguche__link__recetas .div__recetas__sanguche p {
        font-size: 18px;
    }

    .main__recetas .hero__recetas .area5a .tita__link__recetas .div__recetas__tita p {
        font-size: 18px;
    }

    .main__recetas .hero__recetas .area6a .empanadas__link__recetas .div__recetas__empanadas p {
        font-size: 18px;
    }

    .main__recetas .hero__recetas .area1a .pechuga__link__recetas .div__recetas__pechuga p {
        font-size: 18px;
    }

    .main__recetas .hero__recetas .area2a .lomo__link__recetas .div__recetas__lomo p {
        font-size: 18px;
    }

    .main__recetas .hero__recetas .area3a .noquis__link__recetas .div__recetas__noquis p {
        font-size: 18px;
    }

    .main__recetas .hero__recetas .area4a .sanguche__link__recetas .div__recetas__sanguche p {
        font-size: 18px;
    }

    .main__recetas .hero__recetas .area5a .tita__link__recetas .div__recetas__tita p {
        font-size: 18px;
    }

    .main__recetas .hero__recetas .area6a .empanadas__link__recetas .div__recetas__empanadas p {
        font-size: 18px;
    }

    .main__recetas .hero__recetas .area1a .pechuga__link__recetas .div__img__pechuga .recetas__img__pechuga {
        width: 480px;
        height: 324px;
    }

    .main__recetas .hero__recetas .area1a .pechuga__link__recetas .div__img__pechuga .recetas__img__pechuga {
        width: 480px;
        height: 324px;
    }

    .main__recetas .hero__recetas .area2a .lomo__link__recetas .div__img__lomo .recetas__img__lomo {
        width: 480px;
        height: 324px;
    }

    .main__recetas .hero__recetas .area3a .noquis__link__recetas .div__img__noquis .recetas__img__noquis {
        width: 480px;
        height: 324px;
    }

    .main__recetas .hero__recetas .area4a .sanguche__link__recetas .div__img__sanguche .recetas__img__sanguche {
        width: 480px;
        height: 324px;
    }

    .main__recetas .hero__recetas .area5a .tita__link__recetas .div__img__tita .recetas__img__tita {
        width: 480px;
        height: 324px;
    }

    .main__recetas .hero__recetas .area6a .empanadas__link__recetas .div__img__empanadas .recetas__img__empanadas {
        width: 480px;
        height: 324px;
    }
}

@media only screen and (max-width: 1050px) {
    .main__recetas .hero__recetas .area1a .pechuga__link__recetas .div__recetas__pechuga h2 {
        font-size: 26px;
    }

    .main__recetas .hero__recetas .area2a .lomo__link__recetas .div__recetas__lomo h2 {
        font-size: 26px;
    }

    .main__recetas .hero__recetas .area3a .noquis__link__recetas .div__recetas__noquis h2 {
        font-size: 26px;
    }

    .main__recetas .hero__recetas .area4a .sanguche__link__recetas .div__recetas__sanguche h2 {
        font-size: 26px;
    }

    .main__recetas .hero__recetas .area5a .tita__link__recetas .div__recetas__tita h2 {
        font-size: 26px;
    }

    .main__recetas .hero__recetas .area6a .empanadas__link__recetas .div__recetas__empanadas h2 {
        font-size: 26px;
    }

    .main__recetas .hero__recetas .area1a .pechuga__link__recetas .div__recetas__pechuga p {
        font-size: 16px;
    }

    .main__recetas .hero__recetas .area2a .lomo__link__recetas .div__recetas__lomo p {
        font-size: 16px;
    }

    .main__recetas .hero__recetas .area3a .noquis__link__recetas .div__recetas__noquis p {
        font-size: 16px;
    }

    .main__recetas .hero__recetas .area4a .sanguche__link__recetas .div__recetas__sanguche p {
        font-size: 16px;
    }

    .main__recetas .hero__recetas .area5a .tita__link__recetas .div__recetas__tita p {
        font-size: 16px;
    }

    .main__recetas .hero__recetas .area6a .empanadas__link__recetas .div__recetas__empanadas p {
        font-size: 16px;
    }

    .main__recetas .hero__recetas .area1a .pechuga__link__recetas .div__img__pechuga .recetas__img__pechuga {
        width: 440px;
        height: 314px;
    }

    .main__recetas .hero__recetas .area1a .pechuga__link__recetas .div__img__pechuga .recetas__img__pechuga {
        width: 440px;
        height: 314px;
    }

    .main__recetas .hero__recetas .area2a .lomo__link__recetas .div__img__lomo .recetas__img__lomo {
        width: 440px;
        height: 314px;
    }

    .main__recetas .hero__recetas .area3a .noquis__link__recetas .div__img__noquis .recetas__img__noquis {
        width: 440px;
        height: 314px;
    }

    .main__recetas .hero__recetas .area4a .sanguche__link__recetas .div__img__sanguche .recetas__img__sanguche {
        width: 440px;
        height: 314px;
    }

    .main__recetas .hero__recetas .area5a .tita__link__recetas .div__img__tita .recetas__img__tita {
        width: 440px;
        height: 314px;
    }

    .main__recetas .hero__recetas .area6a .empanadas__link__recetas .div__img__empanadas .recetas__img__empanadas {
        width: 440px;
        height: 314px;
    }

    .main__paginas__recomendadas h1 {
        font-size: 55px;
    }
    .parrafo_card{
        font-size: 20px;
    }
}

@media only screen and (max-width:974px) {
    .navbar-nav li a {
        font-size: 18px;
    }

    .main__recetas .hero__recetas .area1a .pechuga__link__recetas .div__recetas__pechuga h2 {
        font-size: 24px;
    }

    .main__recetas .hero__recetas .area2a .lomo__link__recetas .div__recetas__lomo h2 {
        font-size: 24px;
    }

    .main__recetas .hero__recetas .area3a .noquis__link__recetas .div__recetas__noquis h2 {
        font-size: 24px;
    }

    .main__recetas .hero__recetas .area4a .sanguche__link__recetas .div__recetas__sanguche h2 {
        font-size: 24px;
    }

    .main__recetas .hero__recetas .area5a .tita__link__recetas .div__recetas__tita h2 {
        font-size: 24px;
    }

    .main__recetas .hero__recetas .area6a .empanadas__link__recetas .div__recetas__empanadas h2 {
        font-size: 24px;
    }

    .main__recetas .hero__recetas .area1a .pechuga__link__recetas .div__img__pechuga .recetas__img__pechuga {
        width: 400px;
        height: 304px;
    }

    .main__recetas .hero__recetas .area1a .pechuga__link__recetas .div__img__pechuga .recetas__img__pechuga {
        width: 400px;
        height: 304px;
    }

    .main__recetas .hero__recetas .area2a .lomo__link__recetas .div__img__lomo .recetas__img__lomo {
        width: 400px;
        height: 304px;
    }

    .main__recetas .hero__recetas .area3a .noquis__link__recetas .div__img__noquis .recetas__img__noquis {
        width: 400px;
        height: 304px;
    }

    .main__recetas .hero__recetas .area4a .sanguche__link__recetas .div__img__sanguche .recetas__img__sanguche {
        width: 400px;
        height: 304px;
    }

    .main__recetas .hero__recetas .area5a .tita__link__recetas .div__img__tita .recetas__img__tita {
        width: 400px;
        height: 304px;
    }

    .main__recetas .hero__recetas .area6a .empanadas__link__recetas .div__img__empanadas .recetas__img__empanadas {
        width: 400px;
        height: 304px;
    }
    .parrafo_card{
        font-size: 18px;
    }

}

@media only screen and (max-width:950px) {
    .main__index .hero .pechuga_link p {
        width: 720px;
    }

    .main__index h1 {
        font-size: 60px;
    }

    .main__index {
        padding-top: 140px;
    }

    .navbar-nav li a {
        font-size: 17px;
    }
    .parrafo_card{
        font-size: 16px;
    }

}

@media only screen and (max-width:885px) {
    .main__index {
        padding-top: 140px;
    }

    .navbar-nav li a {
        font-size: 16px;
    }

    .main__paginas__recomendadas h1 {
        font-size: 45px;
    }
}

@media only screen and (max-width:880px) {
    .main__index .grid__cards {
        grid-template-columns: 1fr;
        padding: 0px 10px;
        grid-row-gap: 17px;
        grid-template-areas:
            "area1"
            "area2"
            "area3"
            "area4"
            "area5";
    }

    .main__index .grid__cards .area1 .lomo_link .grid__cards__lomo {
        width: 350px;
        height: 300px;
    }

    .main__index .grid__cards .area2 .noquis_link .grid__cards__noquis {
        width: 350px;
        height: 300px;
    }

    .main__index .grid__cards .area3 .sanguche_entraña_link .grid__cards__sanguche {
        width: 350px;
        height: 300px;
    }

    .main__index .grid__cards .area4 .tita_casera_link .grid__cards__tita_casera {
        width: 350px;
        height: 300px;
    }

    .main__index .grid__cards .area5 .empanadas_link .grid__cards__empanadas {
        width: 350px;
        height: 300px;
    }

    .main__index .formulario {
        padding: 20px 100px;
    }

    .main__index .hero .pechuga_link p {
        width: 720px;
    }

    .main__index .hero .bg {
        padding: 90px;
    }

    .main__index h1 {
        font-size: 55px;
    }

    .navbar-nav li a {
        font-size: 16px;
    }

    .main__recetas .hero__recetas .area1a .pechuga__link__recetas .div__recetas__pechuga h2 {
        font-size: 22px;
    }

    .main__recetas .hero__recetas .area2a .lomo__link__recetas .div__recetas__lomo h2 {
        font-size: 22px;
    }

    .main__recetas .hero__recetas .area3a .noquis__link__recetas .div__recetas__noquis h2 {
        font-size: 22px;
    }

    .main__recetas .hero__recetas .area4a .sanguche__link__recetas .div__recetas__sanguche h2 {
        font-size: 22px;
    }

    .main__recetas .hero__recetas .area5a .tita__link__recetas .div__recetas__tita h2 {
        font-size: 22px;
    }

    .main__recetas .hero__recetas .area6a .empanadas__link__recetas .div__recetas__empanadas h2 {
        font-size: 22px;
    }

    .main__recetas .hero__recetas .area1a .pechuga__link__recetas .div__img__pechuga .recetas__img__pechuga {
        width: 380px;
        height: 294px;
    }

    .main__recetas .hero__recetas .area1a .pechuga__link__recetas .div__img__pechuga .recetas__img__pechuga {
        width: 380px;
        height: 294px;
    }

    .main__recetas .hero__recetas .area2a .lomo__link__recetas .div__img__lomo .recetas__img__lomo {
        width: 380px;
        height: 294px;
    }

    .main__recetas .hero__recetas .area3a .noquis__link__recetas .div__img__noquis .recetas__img__noquis {
        width: 380px;
        height: 294px;
    }

    .main__recetas .hero__recetas .area4a .sanguche__link__recetas .div__img__sanguche .recetas__img__sanguche {
        width: 380px;
        height: 294px;
    }

    .main__recetas .hero__recetas .area5a .tita__link__recetas .div__img__tita .recetas__img__tita {
        width: 380px;
        height: 294px;
    }

    .main__recetas .hero__recetas .area6a .empanadas__link__recetas .div__img__empanadas .recetas__img__empanadas {
        width: 380px;
        height: 294px;
    }
}

@media only screen and (max-width:850px) {
    .pe-3 {
        padding-right: 0rem !important;
    }

    .nav-item {
        padding: 0px 3px;
    }

    .main__recetas .hero__recetas .area1a .pechuga__link__recetas .div__recetas__pechuga h2 {
        font-size: 20px;
    }

    .main__recetas .hero__recetas .area2a .lomo__link__recetas .div__recetas__lomo h2 {
        font-size: 20px;
    }

    .main__recetas .hero__recetas .area3a .noquis__link__recetas .div__recetas__noquis h2 {
        font-size: 20px;
    }

    .main__recetas .hero__recetas .area4a .sanguche__link__recetas .div__recetas__sanguche h2 {
        font-size: 20px;
    }

    .main__recetas .hero__recetas .area5a .tita__link__recetas .div__recetas__tita h2 {
        font-size: 20px;
    }

    .main__recetas .hero__recetas .area6a .empanadas__link__recetas .div__recetas__empanadas h2 {
        font-size: 20px;
    }

    .main__recetas .hero__recetas .area1a .pechuga__link__recetas .div__img__pechuga .recetas__img__pechuga {
        width: 360px;
        height: 274px;
    }

    .main__recetas .hero__recetas .area1a .pechuga__link__recetas .div__img__pechuga .recetas__img__pechuga {
        width: 360px;
        height: 274px;
    }

    .main__recetas .hero__recetas .area2a .lomo__link__recetas .div__img__lomo .recetas__img__lomo {
        width: 360px;
        height: 274px;
    }

    .main__recetas .hero__recetas .area3a .noquis__link__recetas .div__img__noquis .recetas__img__noquis {
        width: 360px;
        height: 274px;
    }

    .main__recetas .hero__recetas .area4a .sanguche__link__recetas .div__img__sanguche .recetas__img__sanguche {
        width: 360px;
        height: 274px;
    }

    .main__recetas .hero__recetas .area5a .tita__link__recetas .div__img__tita .recetas__img__tita {
        width: 360px;
        height: 274px;
    }

    .main__recetas .hero__recetas .area6a .empanadas__link__recetas .div__img__empanadas .recetas__img__empanadas {
        width: 360px;
        height: 274px;
    }
}

@media only screen and (max-width:835px) {
    .main__index .hero .pechuga_link .img__pechuga {
        width: 750px;
    }

    .main__index .hero .pechuga_link p {
        width: 620px;
    }

    nav ul li a {
        margin: 0px;
    }

    .main__index h1 {
        font-size: 45px;
    }
}

@media only screen and (max-width:825px) {
    .nav-item {
        padding: 0px 1px;
    }

    .main__recetas .hero__recetas .area1a .pechuga__link__recetas .div__recetas__pechuga h2 {
        font-size: 18px;
    }

    .main__recetas .hero__recetas .area2a .lomo__link__recetas .div__recetas__lomo h2 {
        font-size: 18px;
    }

    .main__recetas .hero__recetas .area3a .noquis__link__recetas .div__recetas__noquis h2 {
        font-size: 18px;
    }

    .main__recetas .hero__recetas .area4a .sanguche__link__recetas .div__recetas__sanguche h2 {
        font-size: 18px;
    }

    .main__recetas .hero__recetas .area5a .tita__link__recetas .div__recetas__tita h2 {
        font-size: 18px;
    }

    .main__recetas .hero__recetas .area6a .empanadas__link__recetas .div__recetas__empanadas h2 {
        font-size: 18px;
    }

    .main__recetas .hero__recetas .area1a .pechuga__link__recetas .div__img__pechuga .recetas__img__pechuga {
        width: 340px;
        height: 254px;
    }

    .main__recetas .hero__recetas .area1a .pechuga__link__recetas .div__img__pechuga .recetas__img__pechuga {
        width: 340px;
        height: 254px;
    }

    .main__recetas .hero__recetas .area2a .lomo__link__recetas .div__img__lomo .recetas__img__lomo {
        width: 340px;
        height: 254px;
    }

    .main__recetas .hero__recetas .area3a .noquis__link__recetas .div__img__noquis .recetas__img__noquis {
        width: 340px;
        height: 254px;
    }

    .main__recetas .hero__recetas .area4a .sanguche__link__recetas .div__img__sanguche .recetas__img__sanguche {
        width: 340px;
        height: 254px;
    }

    .main__recetas .hero__recetas .area5a .tita__link__recetas .div__img__tita .recetas__img__tita {
        width: 340px;
        height: 254px;
    }

    .main__recetas .hero__recetas .area6a .empanadas__link__recetas .div__img__empanadas .recetas__img__empanadas {
        width: 340px;
        height: 254px;
    }
}

@media only screen and (max-width:790px) {
    .main__index .hero .pechuga_link .img__pechuga {
        width: 680px;
    }

    .main__index .hero .pechuga_link p {
        width: 620px;
    }

    nav ul li {
        padding: 0px;
    }

    .ul__footer {
        gap: 18px;
        padding: 0px 10px;
    }

    .main__index .formulario form h2 {
        font-size: 20px;
    }

    .main__index .formulario form .inputs label {
        font-size: 20px;
    }

    .main__index .formulario form .inputs .caja_email {
        font-size: 20px;
    }

    .main__index .hero .bg {
        padding: 85px;
    }

    .main__index h1 {
        font-size: 45px;
    }

    .main__index {
        padding-top: 140px;
    }

    .nav-item {
        padding: 0px 0px;
    }

    .main__recetas .hero__recetas .area1a .pechuga__link__recetas {
        display: flex;
        flex-direction: column;
    }

    .main__recetas .hero__recetas .area1a .pechuga__link__recetas .div__img__pechuga {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .main__recetas .hero__recetas .area1a .pechuga__link__recetas .div__recetas__pechuga {
        margin-top: 10px;
        width: 100%;
    }

    /* arreglos */
    .main__recetas .hero__recetas .lomo__link__recetas {
        display: flex;
        flex-direction: column;
    }

    .main__recetas .hero__recetas .area2a .lomo__link__recetas .div__img__lomo {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .main__recetas .hero__recetas .area2a .lomo__link__recetas .div__recetas__lomo {
        margin-top: 10px;
        width: 100%;
    }

    .main__recetas .hero__recetas .area3a .noquis__link__recetas {
        display: flex;
        flex-direction: column;
    }

    .main__recetas .hero__recetas .area3a .noquis__link__recetas .div__img__noquis {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .main__recetas .hero__recetas .area3a .noquis__link__recetas .div__recetas__noquis {
        margin-top: 10px;
        width: 100%;
    }

    .main__recetas .hero__recetas .area4a .sanguche__link__recetas {
        display: flex;
        flex-direction: column;
    }

    .main__recetas .hero__recetas .area4a .sanguche__link__recetas .div__img__sanguche {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .main__recetas .hero__recetas .area4a .sanguche__link__recetas .div__recetas__sanguche {
        margin-top: 10px;
        width: 100%;
    }

    .main__recetas .hero__recetas .area5a .tita__link__recetas {
        display: flex;
        flex-direction: column;
    }

    .main__recetas .hero__recetas .area5a .tita__link__recetas .div__img__tita {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .main__recetas .hero__recetas .area5a .tita__link__recetas .div__recetas__tita {
        margin-top: 10px;
        width: 100%;
    }

    .main__recetas .hero__recetas .area6a .empanadas__link__recetas {
        display: flex;
        flex-direction: column;
    }

    .main__recetas .hero__recetas .area6a .empanadas__link__recetas .div__img__empanadas {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .main__recetas .hero__recetas .area6a .empanadas__link__recetas .div__recetas__empanadas {
        margin-top: 10px;
        width: 100%;
    }

    .main__recetas .hero__recetas {
        width: auto;
        padding: 0px 0px;
    }
}

@media only screen and (max-width:780px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding: 6.5px;
    }
}

@media only screen and (max-width:768px) {

    .offcanvas,
    .offcanvas-lg,
    .offcanvas-md,
    .offcanvas-sm,
    .offcanvas-xl,
    .offcanvas-xxl {
        --bs-offcanvas-transition: transform 0s ease-in-out;
    }
    .link{
        flex-direction: column;
    }
}

@media only screen and (max-width:760px) {

    .offcanvas,
    .offcanvas-lg,
    .offcanvas-md,
    .offcanvas-sm,
    .offcanvas-xl,
    .offcanvas-xxl {
        --bs-offcanvas-transition: transform 0.4s ease-in-out;
    }
}

@media only screen and (max-width:735px) {
    .log {
        display: flex;
        padding-left: 0px;
    }

    .main__index h1 {
        font-size: 40px;
    }

    .main__index .hero .pechuga_link p {
        font-size: 20px;
    }

    .main__index .formulario form h2 {
        font-size: 18px;
    }

    .main__index .formulario form .inputs label {
        font-size: 18px;
    }

    .main__index .formulario form .inputs .caja_email {
        font-size: 18px;
    }

    .main__index .formulario form .inputs .sumbit {
        font-size: 18px;
    }

    .main__index .hero .bg {
        padding: 80px;
    }

    .main__paginas__recomendadas h1 {
        font-size: 40px;
    }
}

@media only screen and (max-width:715px) {
    .logo {
        width: 167px;
    }

    .main__index .hero .pechuga_link .img__pechuga {
        width: 630px;
    }

    .main__index .hero .pechuga_link p {
        width: 590px;
    }

    .main__index .formulario form h2 {
        font-size: 16px;
        font-weight: normal;
    }

    .main__index .formulario form .inputs label {
        font-size: 16px;
    }

    .main__index .formulario form .inputs .caja_email {
        font-size: 16px;
    }

    .main__index .formulario form .inputs .sumbit {
        font-size: 16px;
    }
}

@media only screen and (max-width:680px) {
    .log {
        display: flex;
        justify-content: center;
        padding-left: 0;
    }

    .main__index .formulario {
        padding: 15px 70px;
    }

    .main__index .hero .pechuga_link p {
        font-size: 18px;
    }

    .main__index .hero .pechuga_link .img__pechuga {
        width: 580px;
    }

    .main__index .hero .pechuga_link p {
        width: 540px;
    }

    .main__index .hero .bg {
        padding: 75px;
    }

    .main__index .grid__cards .area1 .lomo_link .grid__cards__lomo {
        width: 315px;
        height: 279px;
    }

    .main__index .grid__cards .area1 .lomo_link h2 {
        font-size: 20px;
    }

    .main__index .grid__cards .area2 .noquis_link .grid__cards__noquis {
        width: 315px;
        height: 279px;
    }

    .main__index .grid__cards .area2 .noquis_link h2 {
        font-size: 20px;
    }

    .main__index .grid__cards .area3 .sanguche_entraña_link .grid__cards__sanguche {
        width: 315px;
        height: 279px;
    }

    .sanguche_entraña_link h2 {
        font-size: 20px;
    }

    .main__index .grid__cards .area4 .tita_casera_link .grid__cards__tita_casera {
        width: 315px;
        height: 279px;
    }

    .main__index .grid__cards .area4 .tita_casera_link h2 {
        font-size: 20px;
    }

    .main__index .grid__cards .area5 .empanadas_link .grid__cards__empanadas {
        width: 315px;
        height: 279px;
    }

    .main__index .grid__cards .area5 .empanadas_link h2 {
        font-size: 20px;
    }

    .main__paginas__recomendadas h1 {
        font-size: 35px;
    }
}

@media only screen and (max-width:620px) {
    .main__index h1 {
        font-size: 35px;
    }

    .main__index .hero .pechuga_link .img__pechuga {
        width: 500px;
    }

    .main__index .hero .pechuga_link .img__pechuga {
        width: 540px;
    }

    .main__index .hero .pechuga_link p {
        width: 500px;
    }

    .main__index .formulario {
        padding: 15px 50px;
    }

}

@media only screen and (max-width:600px) {
    .main__index .formulario {
        padding: 15px 20px;
    }

    .main__index .hero .bg {
        padding: 70px;
    }
}

@media only screen and (max-width:580px) {
    .main__index .hero .pechuga_link .img__pechuga {
        width: 480px;
    }

    .main__index .hero .pechuga_link p {
        font-size: 16px;
        width: 450px;
    }

    .main__index h1 {
        font-size: 35px;
    }

    .main__paginas__recomendadas h1 {
        font-size: 30px;
    }
}

@media only screen and (max-width:571px) {
    .h2__footer {
        font-size: 16px;
    }

    .logo__footer {
        height: 85px;
        width: 180px;
    }

    .col-md-2 {
        width: 183px;
    }
}

@media only screen and (max-width:540px) {
    .main__index .hero .bg {
        padding: 65px;
    }

    .main__index h1 {
        font-size: 30px;
    }
}

@media only screen and (max-width:535px) {
    .fs-3 {
        font-size: calc(1.3rem + -0.4vw) !important;
    }
}

@media only screen and (max-width:530px) {
    .main__index .hero .bg {
        padding: 45px;
    }
}

@media only screen and (max-width:500px) {
    .main__index .hero .pechuga_link .img__pechuga {
        width: 470px;
    }
}

@media only screen and (max-width:490px) {
    .main__index .hero .pechuga_link .img__pechuga {
        width: 410px;
    }

    .main__index .hero .pechuga_link p {
        width: 390px;
    }
}

@media only screen and (max-width:487px) {
    .main__index .hero .pechuga_link .img__pechuga {
        width: 460px;
    }

    .main__index .hero .pechuga_link p {
        width: 430px;
    }
}

@media only screen and (max-width:480px) {
    .main__index .hero .pechuga_link .img__pechuga {
        width: 450px;
    }

    .main__index .hero .pechuga_link p {
        width: 430px;
    }

    .main__paginas__recomendadas h1 {
        font-size: 27px;
    }
}

@media only screen and (max-width:477px) {
    .offcanvas {
        max-width: 69%;
    }
}

@media only screen and (max-width:467px) {
    .main__index .hero .pechuga_link .img__pechuga {
        width: 440px;
    }

    .main__index .hero .pechuga_link p {
        width: 420px;
    }
}

@media only screen and (max-width:457px) {
    .navbar {
        padding: 0;
    }

    .main__index .hero .pechuga_link .img__pechuga {
        width: 400px;
    }

    .main__index .hero .pechuga_link p {
        width: 400px;
    }
}

@media only screen and (max-width:455px) {
    .col-md-2 {
        width: 179px;
    }

    .main__index h1 {
        font-size: 28px;
    }
}

@media only screen and (max-width:450px) {
    .div_footer {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    footer {
        height: 147px;
    }

    .col-md-2 {
        width: 157px;
    }

    .nav__footer {
        padding-right: 16px;
    }
}


@media only screen and (max-width:432px) {
    .main__index .hero .pechuga_link .img__pechuga {
        width: 400px;
    }

    .main__index .hero .pechuga_link p {
        width: 380px;
    }

    .main__index h1 {
        font-size: 26px;
    }
}

@media only screen and (max-width:421px) {
    .main__index .hero .pechuga_link .img__pechuga {
        width: 390px;
    }

    .main__index .hero .pechuga_link p {
        width: 370px;
    }
}

@media only screen and (max-width:411px) {
    .main__index .hero .pechuga_link .img__pechuga {
        width: 380px;
    }

    .main__index .hero .pechuga_link p {
        width: 360px;

    }

    .main__index .grid__cards .area1 .lomo_link .grid__cards__lomo {
        width: 300px;
        height: 259px;
    }

    .main__index .grid__cards .area1 .lomo_link h2 {
        font-size: 18px;
    }

    .main__index .grid__cards .area2 .noquis_link .grid__cards__noquis {
        width: 300px;
        height: 259px;
    }

    .main__index .grid__cards .area2 .noquis_link h2 {
        font-size: 18px;
    }

    .main__index .grid__cards .area3 .sanguche_entraña_link .grid__cards__sanguche {
        width: 300px;
        height: 259px;
    }

    .sanguche_entraña_link h2 {
        font-size: 18px;
    }

    .main__index .grid__cards .area4 .tita_casera_link .grid__cards__tita_casera {
        width: 300px;
        height: 259px;
    }

    .main__index .grid__cards .area5 .empanadas_link .grid__cards__empanadas {
        width: 300px;
        height: 259px;
    }

    .main__index .grid__cards .area5 .empanadas_link h2 {
        font-size: 18px;
    }
}

@media only screen and (max-width:400px) {
    .main__index .hero .pechuga_link .img__pechuga {
        width: 370px;
    }

    .main__index .hero .pechuga_link p {
        width: 350px;
    }

    .main__index .grid__cards .area1 .lomo_link .grid__cards__lomo {
        width: 290px;
        height: 249px;
    }

    .main__index .grid__cards .area1 .lomo_link h2 {
        font-size: 18px;
    }

    .main__index .grid__cards .area2 .noquis_link .grid__cards__noquis {
        width: 290px;
        height: 249px;
    }

    .main__index .grid__cards .area2 .noquis_link h2 {
        font-size: 18px;
    }

    .main__index .grid__cards .area3 .sanguche_entraña_link .grid__cards__sanguche {
        width: 290px;
        height: 249px;
    }

    .sanguche_entraña_link h2 {
        font-size: 18px;
    }

    .main__index .grid__cards .area4 .tita_casera_link .grid__cards__tita_casera {
        width: 290px;
        height: 249px;
    }

    .main__index .grid__cards .area4 .tita_casera_link h2 {
        font-size: 18px;
    }

    .main__index .grid__cards .area5 .empanadas_link .grid__cards__empanadas {
        width: 290px;
        height: 249px;
    }

    .main__index .grid__cards .area5 .empanadas_link h2 {
        font-size: 18px;
    }
}

@media only screen and (max-width:393px) {
    .col-md-2 {
        width: 157px;
    }
}

@media only screen and (max-width:390px) {
    .main__index h1 {
        font-size: 25px;
    }

    .main__index .hero .pechuga_link .img__pechuga {
        width: 360px;
    }

    .main__index .hero .pechuga_link p {
        width: 340px;
        font-size: 13px;
    }

    .main__index .grid__cards .area1 .lomo_link .grid__cards__lomo {
        width: 280px;
        height: 239px;
    }

    .main__index .grid__cards .area2 .noquis_link .grid__cards__noquis {
        width: 280px;
        height: 239px;
    }

    .main__index .grid__cards .area3 .sanguche_entraña_link .grid__cards__sanguche {
        width: 280px;
        height: 239px;
    }

    .main__index .grid__cards .area4 .tita_casera_link .grid__cards__tita_casera {
        width: 280px;
        height: 239px;
    }

    .main__index .grid__cards .area5 .empanadas_link .grid__cards__empanadas {
        width: 280px;
        height: 239px;
    }

    .nav__footer {
        padding-right: 27px;
    }
}

@media only screen and (max-width:388px) {
    .main__index h1 {
        font-size: 23px;
    }

    .main__index .hero .pechuga_link .img__pechuga {
        width: 340px;
    }

    .main__index .formulario {
        padding: 15px 10px;
    }

    .main__index .formulario form .inputs label {
        font-size: 13px;
    }

    .main__index .formulario form .inputs .caja_email {
        font-size: 13px;
    }

    .main__index .formulario form .inputs .sumbit {
        font-size: 13px;
    }
}

@media only screen and (max-width:387px) {
    .main__index h1 {
        font-size: 20px;
    }

    .main__index .hero .pechuga_link .img__pechuga {
        width: 330px;
    }

    .main__index .formulario {
        padding: 15px 8px;
    }

    .main__index .hero .pechuga_link p {
        width: 318px;
    }
}

@media only screen and (max-width:360px) {
    .main__index h1 {
        font-size: 20px;
    }

    .main__index .hero .pechuga_link .img__pechuga {
        width: 330px;
        object-fit: cover;
    }

    .main__index .formulario {
        padding: 15px 8px;
    }

    .main__index .hero .pechuga_link .img__pechuga {
        width: 360px;
    }

    .main__index .hero .pechuga_link p {
        width: 316px;
    }

    .main__index .grid__cards .area1 .lomo_link .grid__cards__lomo {
        width: 270px;
        height: 229px;
    }

    .main__index .grid__cards .area2 .noquis_link .grid__cards__noquis {
        width: 270px;
        height: 229px;
    }

    .main__index .grid__cards .area3 .sanguche_entraña_link .grid__cards__sanguche {
        width: 270px;
        height: 229px;
    }

    .main__index .grid__cards .area4 .tita_casera_link .grid__cards__tita_casera {
        width: 270px;
        height: 229px;
    }

    .main__index .grid__cards .area5 .empanadas_link .grid__cards__empanadas {
        width: 270px;
        height: 229px;
    }
}