/* Menu de navegacion */
header {
  background-color: #000000;
}

.logo {
  min-width: 150px;
  max-width: 100%;
  height: 100px;
  width: 200px;
  object-fit: cover;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: 0;
  margin-left: 0;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28, 999, 999, 1000.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.logo {
  padding-bottom: 7px;
}

.navbar-nav li a {
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: "Solway", serif;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 3px;
  transition: background-size 0.4s;
  &:hover {
    color: #54bab9;
    background-image: linear-gradient(#54bab9, #54bab9);
    background-size: 100% 3px;
  }
}

.btn-close {
  --bs-btn-close-focus-shadow: 0;
}

.offcanvas-header .btn-close {
  padding: calc(var(--bs-offcanvas-padding-y) * 0.5)
    calc(var(--bs-offcanvas-padding-x) * 1.5);
}

.fs-3 {
  font-size: calc(1.3rem + 0.6vw);
  text-align: center;
  &:hover {
    background-color: transparent;
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
  }
}

.text-white-1 {
  color: white;
  transition: 0.3s;
  &:hover {
    color: rgb(247, 10, 247);
  }
}
.text-white-2 {
  color: white;
  transition: 0.3s;
  &:hover {
    color: rgb(0, 67, 253);
  }
}
.text-white-3 {
  color: white;
  transition: 0.3s;
  &:hover {
    color: rgb(0, 190, 253);
  }
}
.text-white-4 {
  color: white;
  transition: 0.3s;
  &:hover {
    color: rgb(230, 245, 25);
  }
}
