$color-font-h1: #191919;
$font-h1: 'Hammersmith One', sans-serif;
$font-h2: 'Signika Negative', sans-serif;


// Variables para las cards
$font-link-p: 'Roboto', sans-serif;
$color: #191919;
$background-color-p: #FFF2CC;
